.App {
  text-align: center;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  height: 150vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0e0e0e;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #f8f4f4;
}

.shake__btn {
  position: relative;
  top: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  font-weight: 500;
  font-size: 3rem;
  color: #f8f4f4;
  border-radius: 50%;
  align-self: center;
  background-color: #ff061f;
  cursor: pointer;
  padding: 1rem;
}

.shakeup__wrapper {
  display: flex;
  top: 15rem;
  position: absolute;
  flex-direction: column;
  align-self: center;
}

.shakeup-msg__text {
  font-size: 1.2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-self: center;
  align-self: center;
  width: 40%;
  color: white;
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  border-radius: 1rem;
}

.header__text {
  font-size: 3rem;
  color: #f8f4f4;
}
.App-link {
  color: #61dafb;
}

.number__lists {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #f8f4f4;
  width: 50%;
  border-radius: 0.5rem;
}

.disabled-btn {
  margin: 1rem;
  padding: 1rem;
  width: 25%;
  color: #f8f4f4;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  background-color: #080808
}

.disabled-btn:hover {
  background-color: black;
}

.btn {
  margin: 1rem;
  padding: 1rem;
  width: 25%;
  color: #f8f4f4;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  background-color: black;
  border: none;
  cursor: pointer;
}

.text-btn {
  width: 90%;
  margin: 0.5rem;
}

.number__lists, span {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.number__input {
  width: 100%;
  height: 1.7rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.name-input__text {
  color: #f8f4f4;
  font-size: 1rem;
}

.name-input__wrapper {
  position: absolute;
  top: 9rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 35%;
}

.name-input__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.error__msg {
  font-size: 0.8rem;
  align-self: flex-start;
  padding: 0;
  color: #ff061f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
